.built{
    width: 100%;
    @include styleText($fs-0,$fw-normal,$color-black-1);
    text-align: center;
    h2{
        font-size: $fs-4 + 5;
    }
    .built__title{
        font-size: $fs-0 + 2;
        line-height: 1.2;
    }
    .imglink{
        position: relative;
        .play__video{
            position: absolute;
            top: 50%;
            left: 50%;
            color: $color-white-0;
            font-size: 40px;
            transform: translate(-50%,-50%);
            @include iconborder($heigh-width-icon-1);
            border: 1px solid $color-white-0;
        }
    }

    @include respond-to('medium'){
        .imglink{
            .play__video{
                @include iconborder($heigh-width-icon-2);
                font-size: 30px;
            }
        }
    }
}