
    .info__card{
        display: none;
        background: $color-white-0;
        z-index: 500;
        width: 400px;
        height: 700px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-40%);
        padding: 20px;
       border: 2px solid $color-black-0;
    

}   
.sup__link{
    color: $color-blue-4;
} 
.info__ford{
    position: relative;
    background: $color-white-0;
    z-index: 500;
    width: 500px;
    height: 700px;
    position: fixed;
    text-align: center;
    top: 50%;
    display: none;
    left: 50%;
    transform: translate(-50%,-40%);
    
   border: 1px solid $color-gray-4;
   .img__ford{
       width: 500px;
       background: black;
   }
   .img__perciption{
       width: 150px;
       
   }
   ul{
       li{
           padding: 20px 0;
           a{
               text-decoration: none;
               @include styleText($fs-2,$fw-normal,$color-blue-6);
           }
       }
       li:last-child{
           margin: 0 30px;
           border-bottom: 1px solid $color-gray-4;
       }
   }
   i{
       position: absolute;
       top: 10px;
       right: 10px;
       color: white;
   }

}
